.body-1{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;

}

.h1-head-text{
  text-align: center;
}


.text-body{
  margin-top: 10%;
  text-align: center;
}


.p-1{
  margin-bottom: 5%;
}
